body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 50px;
}

.logo img {
    height: 50px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu li {
    display: inline;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.content {
    text-align: center;
    background-color: black;
    font-size: 24px;
}

.content-first{
    background-image: url("./assets/img/jumbotron.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 250px;
}

.content-second {
    background-color: #111;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 100px;
}

.product-card{
    flex-basis: calc(100% / 5);
    margin: 10px;
    box-sizing: border-box;
}

.product-card img {
    width: 150px;
    height: auto;
}

.promo {
    display: flex;
    justify-content: center;
    background-color: #0074e4;
    padding: 20px;
    gap: 30px;
}

.promo-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.promo-item img {
    width: 40px;
    height: auto;
    margin-bottom: 5px;
}

footer {
    background-image: url("./assets/img/dc-logo-bg.png"), url("./assets/img/footer-bg.jpg");
    background-size: auto, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center; 
    background-blend-mode: normal;
    padding: 30px;
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li{
    text-decoration: none;
    color: rgb(147, 147, 147);
    text-align: left;
}

.signup-btn {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 35px;
}

.socials {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials span {
    font-size: 20px;
    color: rgb(36, 97, 252);
    padding-bottom: 15px;
}

.socials img {
    margin: 0 10px;
    font-size: 20px;
}

/*hover*/

.menu a:hover {
    color: #0074e4;
    border-bottom: 2px solid #0074e4;
}

.promo-item span:hover {
    border-bottom: 2px solid white;
    cursor: pointer;
}

.footer-links ul li:hover{
    color: white;
    cursor: pointer;
}

.socials img:hover {
    filter: invert(1);
    cursor: pointer;
}
